<%- model_class = Transact -%>
<div class="page-header">
  <h1>Transactions</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="color:green;background-color: #eaffea;"><span class="currency_symbol">&#8377;</span><%= raw format_number_to_currency("%.2f" %@income) %></th>
      <th style="color:red;background-color: #ffdddd;"><span class="currency_symbol">&#8377;</span><%= raw format_number_to_currency("%.2f" %@expense) %></th>
    </tr>
  </thead>
  <tbody>
    <% @transacts.each do |transact| %>
    <tr>
      <td><span><%= transact.transactable.tags.last.name.capitalize if transact.transactable %></span><br/>
        <span style="font-size:xx-small;"><%= transact.created_at.strftime("%A, %d %b %Y") %></span>
      </td>
      <td class="<%= currency_color(transact.transactable_type) %>"><span class="currency_symbol">&#8377;</span><%= raw format_number_to_currency("%.2f" %transact.amount) %></td>
    </tr>
    <% end %>
  </tbody>
</table>