<%- model_class = Transact -%>

<!-- <div class="col-xs-4"> -->
<%#= select_tag(:account_id, options_from_collection_for_select(Account.order("created_at"), "id", "name"), {:class => 'form-control', onchange: "update_transactions_div(this.value)" }) %>
<%#= select_tag(:account_id, options_from_collection_for_select(Account.order("created_at"), "id", "name", selected: @account), {:class => 'form-control'}) %>
<!-- </div> -->

<!-- <div class="col-xs-4"> -->
	<%#= select_tag(:duration, options_for_select(['Weekly','Monthly','Yearly'], selected: "Monthly"), {:class => 'form-control', onchange: "update_transactions_div(this.value)" })  %>
	<%#= select_tag(:duration, options_for_select(['Weekly','Monthly','Yearly'], selected: @selected_duration ), {:class => 'form-control' })  %>
<!-- </div> -->
<!-- <br/> -->

<!-- <div class="loadingOverlay"></div> -->

<div class="main_transactions">
<div class="row">
	<div class="col-md-8">
				<!-- <div class="col-md-offset-1 col-md-7"> -->
			<h2>Transactions</h2>
			<span class="glyphicon glyphicon-menu-left col-md-offset-1 col-md-1"></span>
				<div id="account-nameDiv">
						<%= render "account_info", account_name: @account_name, duration: @duration_info %>
							<span class="glyphicon glyphicon-menu-right col-md-offset-5 col-md-1"></span>
				</div>
		<!-- <div class="row"> -->
			<div id="transactionsDiv">
					<%= render 'transacts', transacts: @transacts %>
			</div>
		<!-- </div> -->
		</div>
		<div class="col-md-4">
				<div id="pick_random_qoute">
          <%= render "layouts/random_qoute" %>
        </div>
		</div>

	</div>

<div id="spendings" class="modal-box">
  <header>
    <a href="#" class="js-modal-close close">×</a>
    <h3>Spendings</h3>
  </header>
  <div class="modal-body">
    <p><%= weekly_spendings(@account,'Weekly') %></p>
    <p><%= monthly_spendings(@account,'Monthly') %></p>
    <p><%= yearly_spendings(@account,'Yearly') %></p>
  </div>
  <footer>
    <a href="#" class="js-modal-close">Close Button</a>
  </footer>
</div>

<div id="switch-account" class="modal-box">
  <header>
    <a href="#" class="js-modal-close close">×</a>
    <h3>Switch Account</h3>
  </header>
  <div class="modal-body">
    <p><%= account_link("All",@duration) %></p>
    <% @accounts.each do |account| %>
    <p><%= account_link(account,@duration) %></p>
    <% end %>
  </div>
  <footer>
    <a href="#" class="js-modal-close">Close Button</a>
  </footer>
</div>
