<div class="form-div">
<%= form_for(@income) do |f| %>
<% if @income.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @income.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="form-group">
  <div class="row">
    <div class="col-xs-8">
      <%= f.label :date %><br>
      <%= f.text_field :date_of_income, class: "form-control" %>
    </div>
  </div>
  <%= error_span(@income[:date_of_income]) %>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xs-8">
      <%= f.label "Category" %><br/>
      <%= f.text_field :category_name , class: "form-control" %>
      <%= javascript_tag "observeAutocompleteField('income_category_name', '#{escape_javascript search_categories_path()}')"%>
    </div>
  </div>
  <%= error_span(@income[:category_id]) %>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xs-8">
      <%= f.label :amount %><br>
      <%= f.text_field :amount, class: "form-control" %>
    </div>
  </div>
  <%= error_span(@income[:amount]) %>
</div>

<% accounts = Account.all %>
<% unless accounts.blank? %>
<div class="form-group">
  <div class="row">
    <div class="col-xs-8">
      <%= f.label :account %><br>
      <%= f.collection_select :account_id, accounts, :id, :name, {prompt: "Select a account"}, {class: "form-control"} %>
    </div>
  </div>
  <%= error_span(@income[:account_id]) %>
</div>
<% end%>


<div class="form-group">
  <div class="row">
    <div class="col-xs-8">
      <%= f.label :note %><br>
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>
  <%= error_span(@income[:note]) %>
</div>

<%= f.submit class: "btn btn-primary" %>
<%= link_to t('.cancel', default: t("helpers.links.cancel")),
incomes_path, class: 'btn btn-default' %>
<% end %>
</div>

<script type="text/javascript">
  $(function () {
    $('#income_date_of_income').datepicker({ dateFormat: 'dd-mm-yy' });
  });
</script>