<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-8">
        <%= f.label :date_of_income %><br>
        <%= f.text_field :date_of_income, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
  <div class="row">
      <div class="col-xs-8">
    <%= f.label "Category" %><br/> 
    <%= f.text_field :tag_name , class: "form-control" %>
    <%= javascript_tag "observeAutocompleteField('income_tag_name', '#{escape_javascript search_tags_path()}')"%>
    </div>
    </div>
  </div> 

  <div class="form-group">
  <div class="row">
      <div class="col-xs-8">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, class: "form-control" %>
    </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>

<% end %>

<script type="text/javascript">
  $(function () {
    $('#income_date_of_income').datepicker({ dateFormat: 'dd-mm-yy' });
  });
</script>