<%= form_for @qoute, :html => { :class => "form-horizontal qoute" } do |f| %>

    <% if @qoute.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@qoute.errors.count, "error") %> prohibited this qoute from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @qoute.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :message, :class => 'form-control' %>
    </div>
    <%= error_span(@qoute[:message]) %>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@qoute[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :qoute_by, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :qoute_by, :class => 'form-control' %>
    </div>
    <%= error_span(@qoute[:qoute_by]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            qoutes_path, :class => 'btn btn-default' %>

<% end %>
