    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="custom-navbar navbar-default navbar-static-top">
              <div class="container">
                <div class="extra-navbar">
                    <% if params[:controller] == "transacts" || params[:controller] == "spendings" %>
                            <li class="page-scroll duration"><a class="js-open-modal" href="#" data-modal-id="spendings"> <%= @duration_info %></a></li>
                            <li class="page-scroll account"><a class="js-open-modal" href="#" data-modal-id="switch-account"> <%= @account_name.join(',') %> </a></li>
                      <% end %>
                </div>

             <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <%= link_to "Balanced Budget", root_path, class: "navbar-brand" %>
             </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
           
            <% if user_signed_in? %>
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <li><%= link_to "Incomes", incomes_path  %>
                    </li>
                    <li class="page-scroll">
                        <li><%= link_to "Expenses", expenses_path  %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Spending", '/'  %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Transactions", transacts_path %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Categories", categories_path  %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Accounts", accounts_path  %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Quotes", qoutes_path  %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                    </li>
            <% else %>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

